<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>hello</h1>
<hr>
<img th:src="@{/images/flower.jpg}" width="50" height="70">
<header th:replace="common::#header_user"></header>
<section th:replace="common::common_table"></section>
<div>
    <h3>Dashboard</h3>
    <div>
        <div th:text="${indexCount}">0</div>
        <div>/index</div>
    </div>
    <div>
        <div th:text="${basicCount}">0</div>
        <div>/basic</div>
    </div>
</div>
</body>
</html>